{% extends "main.html" %}
{% block stylesheet %}{{ url_for('static', filename='css/auth.css') }}{% endblock %}
{% block title %}Authentication{% endblock %}
{% set show_navbar = False %}

{% block content %}

<div id="authentication" class="authentication w-full flex-c-s dir-col">
    <!-- SIGN UP FORM -->
    <form method="POST" action="/auth/signup" id="signup" class="form flex-c-c dir-col">
        <h3 class="title text-lg w-600">Fill form to sign up</h3>

        <!-- SIGNUP INPUTS SECTION -->
        <div class="input">
            <i class="icon fa fa-user"></i>
            <input name="name" class="name" type="text" placeholder="(Firstname) (Surname)" required/>
        </div>
        <div class="input">
            <i class="icon fa fa-user"></i>
            <input name="username" class="name" type="text" placeholder="(Username)" required/>
        </div>
        <div class="input">
            <i class="icon fa fa-send-o"></i>
            <input name="email" class="email" type="email" placeholder="(Email)" required/>
        </div>
        <div class="input">
            <i class="icon fa fa-send-o"></i>
            <input name="phone" class="phone" type="phone" placeholder="(Phone)" required/>
        </div>
        <div class="input w-full flex-c-c dir-col">
            <div class="w-min flex">
                <i class="icon fa fa-venus-mars"></i>
                <p class="text-sm w-600">Gender</p>
            </div>
           
            <div class="gender-options w-full flex-c-se">
                <div>
                    <input type="radio" name="gender" id="gender-male" value="male" required>
                    <label for="gender-male" class="text-sm w-600">Male</label>
                </div>
                <div>
                    <input type="radio" name="gender" id="gender-female" value="female" required>
                    <label for="gender-female" class="text-sm w-600">Female</label>
                </div>
            </div>
        </div>
        <div class="input">
            <i class="icon fa fa-lock"></i>
            <input name="password" id="signup-password" class="name" type="password" placeholder="(Password)" required/>
        </div>

        <!-- TERMS AND CONDITION SECTION -->
        <div class="input">
            <input name="terms-checkbox" class="checkbox" type="checkbox" required/>
            <small class="check-info">I agree to the<a href="#" class="link">terms and condition</a></small>
        </div>

        <!-- SUBMIT BUTTON ( SIGNUP USER ) -->
        <button type="submit" id="signup-submit" class="submit text-sm w-600" name="signup">Sign Up</button>
    </form>
</div>

{% endblock %}

<!-- LINK TO JS FILE -->
{% block js %}
    <script src="{{ url_for('static', filename='js/auth.js') }}"></script>
{% endblock %}