{% extends "main.html" %}
{% block stylesheet %}{{ url_for('static', filename='css/auth.css') }}{% endblock %}
{% block title %}Authentication{% endblock %}


{% block content %}

<div id="authentication" class="authentication w-full h-max">
    <div class="show-div flex-c-c h-full dir-col">
        <div class="show-div-logo flex-c-c">
            <h2 class="title w-600">Karpos</h2>
            {% include 'assets/logo.html' %}
        </div>
        <p class="info text-md flex-tc w-600">Welcome to Karpos Grocery store, get your groceries at affordable prices and negotiate on large groceries.</p>
        <p class="info text-md flex-tc w-600">Get custom orders to suit your needs</p>
        <p class="info text-md flex-tc w-600">Customize your search and add possible allergies to filter.</p>
    </div>

    <div id="signin" class="form h-max flex-c-c dir-col">
        <!-- LOGIN FORM -->
        <form method="POST" action="/auth/signin" class='signin-form w-full flex-c-c dir-col' >
            <h3 class="title text-lg w-600">Login account</h3>

            <!-- LOGIN INPUTS SECTION -->
            <div class="input-container flex-s-s dir-col">
                <label class="label w-600" for="email">Email</label>
                <div class="input-div">
                    <i class="icon fa fa-send-o"></i>
                    <input id="email" name="email" class="email input" type="email" placeholder="(Email)" required/>
                </div>
            </div>
            <div class="input-container flex-s-s dir-col">
                <label class="label w-600" for="password">Password</label>
                <div class="input-div">
                    <i class="icon fa fa-lock"></i>
                    <input id="password" name="password" id="signup-password" class="password input" type="password" placeholder="(Password)" required/>
                </div>
            </div>

            <!-- KEEP USER LOGGED IN SECTION-->
            <div class="terms-input-div w-full flex-c-s">
                <input name="login-remember" class="checkbox" type="checkbox" />
                <small class="check-info">Keep me logged in for a week.</small>
            </div>

            <!-- SUBMIT BUTTON ( TO LOG IN ) -->
            <button type="submit" id="signin-submit" class="submit text-sm w-600" name="signin">Sign In</button>
        </form>

        <!-- FORGET PASSWORD SECTION -->
        <form method='POST' action='/forgetpassword' class='forget-password-container w-full flex-c-c dir-col'>
            <small class="check-info w-600">Forget password?</small>
            <div id="forget_password_form" class="forget-input-container w-full flex-c-c">
                <input id="forget_password_email" name="forget_password_email" class="email input br-lg" type="email" placeholder="(Enter valid email)" />
                <button type='submit' class="submit-forgetpassword text-sm w-600 br-md" name="forget_password_form">Request</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}

<!-- LINK TO JS FILE -->
{% block js %}
    <script src="{{ url_for('static', filename='js/auth.js') }}"></script>
{% endblock %}