#navbar {
    position: sticky;
    z-index: 300;
    top: 0;
    right: 0;
    width: 100%;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
}

/* FOR LOGGED OUT USERS */
#navbar .logout {
    padding: .25rem;
    background: var(--cta-clr);
}

#navbar .logout .text {
    padding-left: .25rem;
    color: white;
}

#navbar .logout .links {
    gap: .5rem;
}

#navbar .logout .signin-button:hover,
#navbar .logout .signup-button:hover {
    color: var(--cta-clr)  !important;
    background:white !important;
    transition: .2s ease-in-out !important;
}

/* MAIN NAVBAR SECTION */
#navbar .auth-navbar {
    position: relative;
    padding: .65rem 3vw;
    background: white;
}

#navbar .logo .logo-title {
    font-size: 2.5rem;
}

/* FOR SEARCH FORM */
/* For toggling the search bar on small screen */
#navbar .auth-navbar .toggle-search-bar,
#navbar .auth-navbar .search-form-sm {
    display: none;
}
/* For the search form */
#navbar .auth-navbar .search-form {
    position: relative;
    padding: .5rem 0;
}

#navbar .auth-navbar .search-form .input {
    width: max-content;
    min-width: 18rem;
    padding: 0 .5rem;
    height: 2.25rem;
    border-radius: .25rem;
}

#navbar .auth-navbar .search-form .search-cta {
    position: absolute;
    right: 0;
    font-size: 1rem;
    padding: 0 .5rem;
}

/* MENU LIST FOR LARGE SCREEN */
#navbar .menu-list {
    gap: calc(.5rem + .5vw);
    position: relative;
    z-index: 50;
}

#navbar .menu-list-2 {
    z-index: 100;
    background: var(--primary-clr);
}

#navbar .menu-list .link,
#navbar .menu-list-2 .link {
    color: var(--text-color);
    padding: .5rem .75rem;
    text-align: start;
}

#navbar .menu-list .link:hover,
#navbar .menu-list-2 .link:hover {
    color: var(--link-clr);
    transition: .1s ease-in-out !important;
}

#navbar .menu-list .link.active,
#navbar .menu-list-2 .link.active {
    color: var(--link-clr);
    border-bottom: 2px solid var(--link-clr);
    transition: .1s ease-in-out !important;
}

#navbar .menu-list .items-2 {
    gap: .5rem;
}

#navbar .menu-list .items-2 .signin-button,
#navbar .menu-list .items-2 .signup-button {
    color: white !important;
    background: var(--cta-clr) !important;
}

/* MENU-BAR */
#navbar #menu-bar {
    position: relative;
    z-index: 130;
}

#navbar .menu-list .menu-bar .icon {
    padding: .45rem .65rem;
}

#navbar .menu-list .menu-bar .icon.close {
    display: none;
}

#navbar .menu-list .menu-bar:hover .icon {
    color: var(--link-clr);
    transition: .1s ease-in-out !important;
}

#navbar .screen-sm {
    display: none;
}

/* MENU LIST FOR SMALL SCREEN */
#navbar .menu-list-2 {
    display: none;
    position: absolute;
    z-index: 100;
    top: 0;
    right: 0;
    width: max-content;
    min-width: 12rem;
    height: 100vh;
    min-height: 60rem;
    gap: .25rem;
    background: var(--main-clr);
    padding: 3rem 1rem;
    border-left: 1px solid var(--cta-border);

    /* revealing menu onclick of the menu btn */
    opacity: 1;
    visibility: visible;
    transform: translateX(0) scale(1);
}

#navbar .menu-list-2.close {
    opacity: 0;
    visibility: hidden;
    user-select: none;
    transform: translateX(.5rem) scale(.98);
    transition: .25s cubic-bezier(0.25, 0.46, 0.45, 0.94) ease-in-out !important;
}

#navbar .menu-list-2 .items {
    margin-top: 3rem;
    gap: .75rem;
}

#navbar .menu-list-2 .items .signin-button,
#navbar .menu-list-2 .items .signup-button {
    color: white !important;
    background: var(--cta-clr) !important;
}

#navbar .menu-list-2 .items .signin-button:hover,
#navbar .menu-list-2 .items .signup-button:hover {
    background: var(--cta-hover) !important;
    box-shadow: 0 0 2px 3px rgba(185, 17, 96, 0.35);
    transition: background-color .2s ease-in-out !important;
}


#signing-background-overlay {
    display: none;
    position: absolute;
    z-index: 90;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.2);
    border-top: 1px solid #d1d1d1;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(5px);
}

#signing-background-overlay.show-signing-background-overlay {
    display: block !important;
}


@media (max-width: 768px) {
    #navbar .logo {
        height: 2.25rem;
    }
    #navbar .logo .logo-title {
        font-size: 1.5rem;
    }

    #navbar .auth-navbar .search-form .input {
        width: max-content;
        min-width: 12rem;
    }
    #navbar .menu-list .screen-md {
        display: none;
    }
    #navbar .menu-list .screen-sm {
        display: flex;
    }

    #navbar .menu-list .link:hover,
    #navbar .menu-list-2 .link:hover {
        color: var(--link-clr);
        background: var(--surface-clr);
        border-radius: .25rem;
        transition: .1s ease-in-out !important;
    }

    #navbar .menu-list-2 {
        display: flex;
    }
}


@media (max-width: 490px) {
    #navbar .logo {
        height: 2rem;
    }
    #navbar .logo .logo-title {
        font-size: 1.15rem;
    }
    #navbar .logo .logo-image {
        height: 2.25rem;
    }

    /* FOR THE SEARCH BAR ON SMALL SCREEN */
    #navbar .auth-navbar .toggle-search-bar {
        display: flex;
        width: 1.8rem;
        height: 1.8rem;
        background: #d1d1d1;
        border-radius: 50%;
    }
    #navbar .auth-navbar .toggle-search-bar:hover,
    #navbar .auth-navbar .toggle-search-bar:focus {
        border-radius: 50%;
        background: #c5c5c5;
    }
    /* For large screen search bar */
    #navbar .auth-navbar .search-form {
        display: none;
    }
    /* For small screen search bar */
    #navbar .auth-navbar .search-form-sm {
        display: none;
        width: calc(100% - 2rem);
        z-index: 120;
        position: absolute;
        top: calc(100% - .5rem);
        margin: 0 auto;
    }
    #navbar .auth-navbar .search-form-sm.display-search-bar {
        display: flex;
        top: calc(100% - .5rem);
        transition: .2s ease-in-out;
    }
    #navbar .auth-navbar .search-form-sm .input {
        width: 100%;
        background: rgba(0, 0, 0, 0.2) !important;
    }
}