#navbar {
    position: sticky;
    top: 0;
    right: 0;
    width: 100%;
    box-shadow: 0 0 2px 2px var(--primary-bg-clr);
}

#navbar .auth-navbar {
    padding: .65rem 3vw;
    background: var(--surface-clr);
}

/* MENU LIST FOR LARGE SCREEN */
#navbar .menu-list {
    gap: calc(.5rem + .5vw);
    position: relative;
    z-index: 50;
}

#navbar .menu-list-2 {
    background: var(--primary-clr);
}

#navbar .menu-list .link,
#navbar .menu-list-2 .link {
    color: var(--text-color);
    padding: .5rem .75rem;
    border-radius: .25rem;
    text-align: start;
}

#navbar .menu-list .link:hover,
#navbar .menu-list-2 .link:hover {
    background: var(--link-bg-hover);
    box-shadow: 0 0 2px 3px rgba(185, 17, 96, 0.45);
    transition: .1s ease-in-out !important;
}

#navbar .menu-list .items-2 {
    gap: .5rem;
}

#navbar .menu-list .items-2 .signin-button,
#navbar .menu-list .items-2 .signup-button {
    color: white !important;
    background: var(--cta-clr) !important;
}

#navbar .menu-list .menu-bar .icon {
    border-radius: .25rem;
    padding: .45rem .65rem;
}

#navbar .menu-list .menu-bar .icon.close {
    display: none;
}

#navbar .menu-list .menu-bar:hover .icon {
    background: var(--link-bg-hover);
    transition: .1s ease-in-out !important;
}

#navbar .screen-sm {
    display: none;
}

/* MENU LIST FOR SMALL SCREEN */
#navbar .menu-list-2 {
    display: none;
    position: absolute;
    z-index: 40;
    top: 0;
    right: 0;
    width: max-content;
    min-width: 12rem;
    height: 100vh;
    min-height: 60rem;
    gap: .25rem;
    background: var(--main-clr);
    padding: 3rem 1rem;
    border-left: 1px solid var(--cta-border);

    /* revealing menu onclick of the menu btn */
    opacity: 1;
    visibility: visible;
    transform: translateX(0) scale(1);
}

#navbar .menu-list-2.close {
    opacity: 0;
    visibility: hidden;
    user-select: none;
    transform: translateX(.5rem) scale(.98);
    transition: .25s cubic-bezier(0.25, 0.46, 0.45, 0.94) ease-in-out !important;
}

#navbar .menu-list-2 .items {
    margin-top: 3rem;
    gap: .75rem;
}

#navbar .menu-list-2 .items .signin-button,
#navbar .menu-list-2 .items .signup-button {
    color: white !important;
    background: var(--cta-clr) !important;
}

#navbar .menu-list-2 .items .signin-button:hover,
#navbar .menu-list-2 .items .signup-button:hover {
    background: var(--cta-hover) !important;
    box-shadow: 0 0 2px 3px rgba(185, 17, 96, 0.35);
    transition: background-color .2s ease-in-out !important;
}


#signing-background-overlay {
    display: none;
    position: absolute;
    z-index: 30;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.2);
    border-top: 1px solid #d1d1d1;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(5px);
}

#signing-background-overlay.show-signing-background-overlay {
    display: block !important;
}


@media (max-width: 768px) {
    #navbar .menu-list .screen-md {
        display: none;
    }
    #navbar .menu-list .screen-sm {
        display: flex;
    }

    #navbar .menu-list-2 {
        display: flex;
    }
}