#allergy {
    padding: calc(2vw + .5rem);
    gap: 1rem;
}

#allergy > .title {
    color: var(--text-clr);
}

/* PRODUCT */
#allergy .allergies {
    gap: .75rem;
}
#allergy .product {
    max-width: 66rem;
    padding: .5rem;
    height: max-content;
    background: var(--primary-bg-clr);
    border-radius: .5rem;
}

#allergy .product .info,
#allergy .product .title {
    color: var(--text-clr);
}