#authentication {
    position: relative;
    gap: calc(1.5rem + 1vw);
    height: max-content;
    min-height: 100vh;
    background: var(--main-clr);
    border-bottom: 1px solid #d1d1d1;
}

/* NAVBAR FOR AUTHENTICATION */
#authentication .auth-navbar {
    padding: .65rem 3vw;
    background: var(--surface-clr);
}

/* MENU LIST FOR LARGE SCREEN */
#authentication .menu-list {
    gap: calc(.5rem + .5vw);
    position: relative;
    z-index: 50;
}

#authentication .menu-list-2 {
    background: var(--primary-clr);
}

#authentication .menu-list .link,
#authentication .menu-list-2 .link {
    color: var(--text-color);
    padding: .5rem .75rem;
    border-radius: .25rem;
    text-align: start;
}

#authentication .menu-list .link:hover,
#authentication .menu-list-2 .link:hover {
    background: var(--link-bg-hover);
    transition: background-color .2s ease-in-out !important;
}

#authentication .menu-list .items-2 {
    gap: .5rem;
}

#authentication .menu-list .menu-bar .icon {
    padding: .45rem .5rem;
}

#authentication .menu-list .menu-bar .icon.close {
    display: none;
}

#authentication .menu-list .menu-bar:hover .icon {
    background: var(--link-bg-hover);
    transition: background-color .2s ease-in-out !important;
}

#authentication .screen-sm {
    display: none;
}

/* MENU LIST FOR SMALL SCREEN */
#authentication .menu-list-2 {
    display: none;
    position: absolute;
    z-index: 40;
    top: 0;
    right: 0;
    width: max-content;
    min-width: 12rem;
    height: 100vh;
    min-height: 60rem;
    gap: .25rem;
    background: var(--main-clr);
    padding: 3rem 1rem;
    border-left: 1px solid var(--cta-border);

    /* revealing menu onclick of the menu btn */
    opacity: 1;
    visibility: visible;
    transform: translateX(0) scale(1);
}

#authentication .menu-list-2.close {
    opacity: 0;
    visibility: hidden;
    user-select: none;
    transform: translateX(.5rem) scale(.98);
    transition: .25s cubic-bezier(0.25, 0.46, 0.45, 0.94) ease-in-out !important;
}

#authentication .menu-list-2 .buttons {
    margin-top: 3rem;
    gap: .75rem;
}

#authentication .menu-list-2 .buttons button:first-child {
    background: var(--link-bg-hover);
}

/* FOR THE BLUR BACKGROUND SECTION */
#signing-background-overlay {
    display: none;
    position: absolute;
    z-index: 30;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.2);
    border-top: 1px solid #d1d1d1;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(5px);
}

#signing-background-overlay.show-signing-background-overlay {
    display: block !important;
}

/* FOR THE FORM SECTION */
#signup.form,
#signin.form {
    width: 30vw;
    min-width: 30em;
    gap: 1em;
    padding: 1em 3em;
    margin: 1rem 3rem;
    background: var(--surface-clr);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-right:  none;
    box-shadow: 0 0 2px 2px rgba(187, 17, 96, .25);
    border-radius: .5em;
}

#signin.form .signin-form {
    gap: 1em;
}

.form .title {
    color: var(--text-color);
}

.form .input {
    position: relative;
    display: flex;
    gap: .5em;
    text-align: center;
    align-items: center;
    height: max-content;
    width: 100%;
}

.form .input .icon {
    position: absolute;
    left: .5em;
    color: var(--main-color);
}

.form .input > input {
    width: 100%;
    height: 2.5em;
    background: #ededed;
    padding: 0 2.5em;
    outline: 1px solid #d1d1d1;
    border-radius: .5em;
}

.form .input > input:focus {
    outline-width: 3px;
}

.form .input > input::placeholder {
    color: var(--text-color);
    font-weight: 600;
}

.form .input > input[type="checkbox"] {
    width: .8em;
    height: .8em;
    outline: none;
}

.form .input .check-info {
    color: var(--main-color);
}

.form .input .check-info .link,
.form .input .check-info .link {
    color: var(--link-clr);
    margin-left: -8px;
}

/* Forget password container */
.forget-password-container {
    gap: .5rem;
}

.forget-password-container .submit-forgetpassword {
    width: max-content;
    background: var(--cta-ghost);
    color: var(--link-clr);
    padding: .5rem 1.5rem;
    border-radius: .5rem;
}

.forget-password-container .submit-forgetpassword:hover {
    background: var(--cta-ghost-hover);
}

.form .submit,
.form .submit {
    background: #b91160;
    color: #fff;
    width: 100%;
    padding: .5em;
    border-radius: .15em;
}

.form .submit:hover,
.form .submit:hover {
    background: var(--cta-hover);
}

.form .submit:active,
.form .submit:active {
    background: none;
}

.form .info {
    gap: .25em;
}

.form .info p {
    color: #e15a16;
}


@media (max-width: 768px) {
    #authentication .menu-list .screen-md {
        display: none;
    }
    #authentication .menu-list .screen-sm {
        display: flex;
    }

    #authentication .menu-list-2 {
        display: flex;
    }
}