#menu {
    padding: 2rem;
    gap: 1rem;
}

/* TITLE */
#menu > .title {
    color: var(--text-clr);
}

/* ALLERGY LINK */
#menu .allergy-link {
    color: var(--text-clr);
    padding: 0 .25rem;
    margin: 0;
}

#menu .allergy-link:hover {
    text-decoration: underline;
}

/* ::::::::::::::::::::::::: PRODUCTS SECTION */
#menu .products-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem 2rem;
}

#menu .products-container .product {
    max-width: 24rem;
    width: 100%;
    background: white;
    margin: 0 auto;
    border-radius: .5rem;
    overflow: hidden;
    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, .15);
}

#menu .products-container .product:hover {
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, .25);
}
  
/* ::::::::::::::::::::::: media screen */
@media (max-width: 1024px) {
    #menu .products-container {
        grid-template-columns: repeat(2, 1fr);
    }
    #menu .products-container .product {
        max-width: 30rem;
    }
}

@media (max-width: 680px) {
    #menu {
        padding: 1rem;
    }
    #menu .products-container {
        grid-template-columns: 1fr;
    }
    #menu .products-container .product {
        max-width: 25rem;
    }
}
  
#menu .products-container .product .description .img {
    height: 14rem;
    object-fit: cover;
    box-shadow: var(--sh);
}
  
#menu .products-container .product .description .product-info {
    padding: .875rem;
}
  
  /* TITLE */
#menu .products-container .product .description .title {
    width:max-content;
    height: 100%;
    padding: .25em .5em;
}
  
#menu .products-container .product .description .title .name {
    color: var(--text-clr);
}
  
  
/* PRICE */
#menu .products-container .product .description .price {
    color: var(--text-light);
}
  
#menu .products-container .product .description .price > span:first-child small {
    font-size: .7em;
    color: var(--text-light);
}
  
#menu .products-container .product .description .price > span:last-child {
    color: var(--text);
}
    
/*===================================================*/
/* FUNC */
#menu .products-container .product .func {
    display: flex;
    width: 100%;
    flex-direction: column;
}
  
/* STATUS */
#menu .products-container .product .func .total,
#menu .products-container .product .func .quantity {
    position: relative;
    padding: .5rem .25rem;
    margin: 0 .25rem;
    gap: .25rem;
    border-radius: .25rem;
    background: var(--main-clr);
}

#menu .products-container .product .func .input:focus {
    outline: 1px solid rgba(185, 16, 97, .5);
}

/* INPUT PRICE AND AMOUNT */
#menu .products-container .product .func .input-div {
    position: relative;
}

#menu .products-container .product .func .total .input-placeholder,
#menu .products-container .product .func .quantity .input-placeholder {
    position: absolute;
    left: 0;
    width: 2rem;
    background: var(--primary-bg-clr);
    pointer-events: none;
    color: var(--text-clr);
    border-radius: .25rem 0 0 .25rem;
}

/* FOR THE PLACEHOLDER BACKGROUND */
#menu .products-container .product .func .total .input-div:before,
#menu .products-container .product .func .quantity .input-div:before {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 2rem;
    background: var(--primary-bg-clr);
    pointer-events: none;
    border-radius: .25rem 0 0 .25rem;
}

#menu .product .func .total .input,
#menu .product .func .quantity .input {
    height: 2rem;
    font-size: 1rem;
    padding-left: 2.5rem;
    color: var(--text-clr);
}
  
#menu .product .func .status p.err {
    color: var(--red);
}
  
/* CALL TO ACTION BUTTONS */
#menu .product .func .cta-div {
    padding: 1rem .25rem;
    height: 3rem;
}
  
#menu .product .func .cta-div .cta {
    position: relative;
    padding: .25em;
    background: var(--cta-clr);
    gap: .5rem;
    padding: .5rem;
}

#menu .product .func .cta-div .cta.one {
    background: none;
}
  
#menu .product .func .cta-div .cta .icon {
    width: max-content;
    color: var(--red);
    font-size: 1.2em;
}

#menu .product .func .cta-div .cta.two:hover {
    background: var(--cta-hover);
    transition: .2s ease-in-out;
}

#menu .product .func .cta-div .cta.two span {
    color: white;
}
#menu .product .func .cta-div .cta.one:hover span {
    display: block;
}
#menu .product .func .cta-div .cta.one span {
    position: absolute;
    left: 2rem;
    background: var(--red);
    color: white;
    padding: .25rem .5rem;
    border-radius: .25rem;
    display: none;
}
  
#menu .product .func .cta-div .cta .icon2 {
    color: white;
    font-size: 1.2em;
}

@media (max-width: 768) {
    
}