{% extends 'admin/main.html' %}
{% block stylesheet %}{{ url_for('static', filename='css/admin/customers.css') }}{% endblock %}
{% block content %}

    <section id="customers" class="w-full flex-as dir-col">
        <section class="main w-full flex-c-s dir-col">
            <!-- MAIN HEADER -->
            <div class="title-section w-full flex dir-col">
                <h2 class="title header-md">Customers</h2>
            </div>
            <div class="customer-contents w-full flex-ac dir-col">
                <!-- CUSTOMER CATEGORY -->
                <div class="customer-links w-full flex-ac">
                    <button id="all-customers-button" class="link w-max flex-c-c dir-col w-600 active">All Customers</button>
                </div>

                <!-- CUSTOMER HEADER -->
                <table class="customers-table w-full flex dir-col">
                    <thead class="customers-header">
                        <tr class="customers-header-items w-full">
                            <th class="text-sm w-600">Name</th>
                            <th class="text-sm w-600">Address</th>
                            <th class="text-sm w-600">Email</th>
                            <th class="text-sm w-600">Phone</th>
                            <th class="text-sm w-600">Gender</th>
                        </tr>
                    </thead>

                    {% if customers %}
                    <!-- CUSTOMERS -->
                    <tbody id="all-customers" class="customers w-full flex-ac dir-col">
                        {% for customer in customers%}
                        <tr class="customer w-full">
                            <td class="text-sm">{{ customer.name }}</td>
                            <td class="text-sm">{{ customer.address }}</td>
                            <td class="text-sm">{{ customer.email }}</td>
                            <td class="text-sm">{{ customer.phone }}</td>
                            <td class="text-sm">{{ customer.gender}}</td>
                        </tr>
                        {% endfor %}
                        <tr class="customer w-full">
                            <td class="text-sm">-- --</td>
                            <td class="text-sm">-- --</td>
                            <td class="text-sm">-- --</td>
                            <td class="text-sm">-- --</td>
                            <td class="text-sm">-- --</td>
                        </tr>
                    </tbody>
                    {% endif %}
                </table>
                    
        </section>
    </section>
{% endblock %}

{% block js %}
{% endblock %}