{% extends 'admin/main.html' %}
{% block stylesheet %}{{ url_for('static', filename='css/admin/dashboard.css') }}{% endblock %}
{% block content %}

    <section id="dashboard" class="w-full flex-as dir-col">
        <section class="main w-full flex-c-s dir-col">
            <div class="title-section w-full flex dir-col">
                <h2 class="title header-md">Dashboard</h2>
            </div>
            <div class="brief-contents w-full flex-c-se">
                <div class="content w-full flex-s-s dir-col">
                    <h3 class="name">Orders</h3>
                    <div class="info-div flex dir-col">
                        <p class="text1 text-sm w-600">{{ pending_orders }} pending</p>
                        <p class="text2 text-sm w-600">{{ orders|length }} total</p>
                    </div>
                </div>
                <div class="content w-full flex-s-s dir-col">
                    <h3 class="name">Customers</h3>
                    <div class="info-div flex dir-col">
                        <p class="text1 text-sm w-600">{{ active_customers }} active</p>
                        <p class="text2 text-sm w-600">{{ customers|length }} total</p>
                    </div>
                </div>
                <div class="content w-full flex-s-s dir-col">
                    <h3 class="name">Products</h3>
                    <div class="info-div flex dir-col">
                        <p class="text1 text-sm w-600">{{ selling_products }} selling</p>
                        <p class="text2 text-sm w-600">{{ products|length }} total</p>
                    </div>
                </div>
        </section>
    </section>
{% endblock %}

{% block js %}
{% endblock %}