<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {# For the page logo favicon.ico #}
    <link rel="icon" href="{{ url_for('static', filename='images/logo.webp') }}" type="image/png" />

    <!-- Preload critical CSS -->
    <link rel="preload" href="{{ url_for('static', filename='css/main.css') }}" as="style" onload="this.onload=null;this.rel='stylesheet'" />
    <link rel="preload" href="{{ url_for('static', filename='css/admin/main.css') }}" as="style" onload="this.onload=null;this.rel='stylesheet'" />
    <link rel="preload" href="{{ url_for('static', filename='css/assets/logo.css') }}" as="style" onload="this.onload=null;this.rel='stylesheet'" />
    <link rel="preload" href="{% block stylesheet %}{% endblock %}" as="style" onload="this.onload=null;this.rel='stylesheet'" />

    <!-- Fallback for non-JS browsers -->
    <noscript>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
      <link rel="stylesheet" href="{{ url_for('static', filename='css/admin/main.css') }}" />
      <link rel="stylesheet" href="{{ url_for('static', filename='css/assets/logo.css') }}" />
      <link rel="stylesheet" href="{% block stylesheet %}{% endblock %}" />
    </noscript>

    
    <!-- FONTAWESOME ONLINE LINK -->
    <script src="https://kit.fontawesome.com/78fe799ed6.js" crossorigin="anonymous" defer></script>

    <title>Admin Dashboard</title>

  </head>
  <body>
    {# HEADER SECTION #}
    <header id="admin-navbar" class="w-max flex-s-s dir-col">
      <button id="menu-bar-btn" class="menu-bar screen-sm">
          <i id="bars-icon" class="icon fa fa-bars text-lg"></i>
          <i id="close-icon" class="icon close fa fa-times text-lg"></i>
      </button>

      {# NAVBAR SECTION #}
      <nav id="nav-contents" class="nav-contents close h-full flex-s-s dir-col">
        {# LOGO && TITLE SECTION #}
        <div class="logo flex-c-c">
            <h2 class="logo-title header-lg">Karpos</h2>
            {% include 'assets/logo.html' %}
        </div>
        {# NAV LINKS #}
        <div class="nav-items w-full flex-js dir-col">
            <a href="{{ url_for('admin_panel.dashboard') }}" {% if endpoint == 'dashboard' %} class="link w-full active text-md w-600 button-md br-md" {% else %} class="link w-full text-md w-600 button-md br-md" {% endif %}>Dashboard</a>
            <a href="{{ url_for('admin_panel.orders') }}" {% if endpoint == 'orders' %} class="link w-full active text-md w-600 button-md br-md" {% else %} class="link w-full text-md w-600 button-md br-md" {% endif %}>Orders</a>
            <a href="{{ url_for('admin_panel.customers') }}" {% if endpoint == 'customers' %} class="link w-full active text-md w-600 button-md br-md" {% else %} class="link w-full text-md w-600 button-md br-md" {% endif %}>Customers</a>
            <a href="{{ url_for('admin_panel.products') }}" {% if endpoint == 'products' %} class="link w-full active text-md w-600 button-md br-md" {% else %} class="link w-full text-md w-600 button-md br-md" {% endif %}>Products</a>
            <a href="{{ url_for('views.home') }}" {% if endpoint == 'products' %} class="link w-full active text-md w-600 button-md br-md" {% else %} class="link w-full text-md w-600 button-md br-md" {% endif %}>Home</a>
        </div>
      </nav>
    </header>

    {# FLASHED MESSAGES #}
    {% with messages = get_flashed_messages(with_categories=true) %} 
    {% if messages %} 
    {% for category, message in messages %} 
    {% if category == 'error' %}
    {# ERROR CATEGORY MESSAGES #}
    <div class="alert-admin error w-full flex-c-c flex-tc">
      <p class='message text-sm w-600'>{{ message }}</p>
      <button type="button" id="flashed-messages-close-btn" class="close button" data-dismiss="alert">
        <i aria-hidden="true" class="fa fa-close icon"></i>
      </button>
    </div>
    {% else %}
    {# SUCCESS CATEGORY MESSAGES #}
    <div class="alert-admin success w-full flex-tc">
      <p class='message text-sm w-600'>{{ message }}</p>
      <button type="button" id="flashed-messages-close-btn" class="close button flex-c-c" data-dismiss="alert">
        <i aria-hidden="true" class="fa fa-close icon"></i>
      </button>
    </div>
    {% endif %} 
    {% endfor %} 
    {% endif %} 
    {% endwith %}

    {# PAGE CONTENTS #}
    <div id="block-content" class="w-full h-screen flex-s-s dir-col">
      <form method='POST' action="/admin_panel/search" class='search-form flex-c-c'>
          <input name="search-data" class="input" type="text" placeholder="Search..." required/>
          <button type="submit" class="search-cta">
              <i class="icon fa fa-search"></i>
          </button>
      </form>
      {% block content %}
      {% endblock %}
    </div>

    {# JS BLOCK #}
    <script src="{{ url_for('static', filename='js/admin/main.js') }}"></script>
    {# PAGE JS CONTENT #}
    {% block js %}
    {% endblock %}
  </body>
</html>