<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin/main.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/assets/logo.css') }}" />
    <link rel="stylesheet" href="{% block stylesheet %}{% endblock %}" />

    <!-- FONTAWESOME LOCALLY STORED LINK -->
    {#
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/solid.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/brands.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/fontawesome.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/all.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/v4-shims.css') }}" />#}
    
    <!-- FONTAWESOME ONLINE LINK -->
    <script src="https://kit.fontawesome.com/78fe799ed6.js" crossorigin="anonymous"></script>

    <title>Admin Dashboard</title>

  </head>
  <body>
    <header id="admin-navbar" class="w-max flex-s-s dir-col">
        <button id="menu-bar-btn" class="menu-bar screen-sm">
            <i id="bars-icon" class="icon fa fa-bars text-lg"></i>
            <i id="close-icon" class="icon close fa fa-times text-lg"></i>
        </button>
        <nav id="nav-contents" class="nav-contents close h-full flex-s-s dir-col">
            <div class="logo flex-c-c">
                <h3 class="logo-title">
                    <a href="index.html" class='header-md'>Edenfresh</a>
                </h3>
                {% include 'assets/logo.html' %}
            </div>
            <div class="nav-items w-full flex-js dir-col">
                <a href="{{ url_for('admin.dashboard') }}" {% if endpoint == 'dashboard' %} class="link w-full active text-md w-600 button-md" {% else %} class="link w-full text-md w-600 button-md" {% endif %}>Dashboard</a>
                <a href="{{ url_for('admin.orders') }}" {% if endpoint == 'orders' %} class="link w-full active text-md w-600 button-md" {% else %} class="link w-full text-md w-600 button-md" {% endif %}>Orders</a>
                <a href="{{ url_for('admin.customers') }}" {% if endpoint == 'customers' %} class="link w-full active text-md w-600 button-md" {% else %} class="link w-full text-md w-600 button-md" {% endif %}>Customers</a>
                <a href="{{ url_for('admin.products') }}" {% if endpoint == 'products' %} class="link w-full active text-md w-600 button-md" {% else %} class="link w-full text-md w-600 button-md" {% endif %}>Products</a>
            </div>
        </nav>
    </header>

    <!-- BACKGROUND OVERLAY ON FOCUS -->
    <div id="signing-background-overlay"></div>

    {% block content %}
    {% endblock %}

    <script src="{{ url_for('static', filename='js/admin/main.js') }}"></script>
    {% block js %}
    {% endblock %}
  </body>
</html>