{% extends 'admin/main.html' %}
{% block stylesheet %}{{ url_for('static', filename='css/admin/orders.css') }}{% endblock %}
{% block content %}

    <section id="orders" class="w-full flex-as dir-col">
        <section class="main w-full flex-c-s dir-col">
            <!-- MAIN HEADER -->
            <div class="title-section w-full flex dir-col">
                <h2 class="title header-md">Orders</h2>
            </div>
            <div class="order-contents w-full flex-ac dir-col">
                <!-- ORDERS CATEGORY -->
                <div class="order-links w-full flex-ac">
                    <button id="all-orders-button" class="link w-max flex-c-c dir-col w-600 active">All orders</button>
                    <button id="unapproved-orders-button" class="link w-max flex-c-c dir-col w-600">Unapproved</button>
                    <button id="approved-orders-button" class="link w-max flex-c-c dir-col w-600">Approved</button>
                </div>

                <!-- ORDERS HEADER -->
                <table class="orders-table w-full flex dir-col">
                    <thead class="orders-header">
                        <tr class="orders-header-items w-full">
                            <th class="text-sm w-600">Product Name</th>
                            <th class="text-sm w-600">Address</th>
                            <th class="text-sm w-600">Date</th>
                            <th class="text-sm w-600">Price</th>
                            <th class="text-sm w-600">Status</th>
                        </tr>
                    </thead>

                    <!-- ORDERS -->
                    <tbody id="all-orders" class="orders w-full flex-ac dir-col">
                    {% if orders %}
                        {% for order in orders %}
                        <tr class="order w-full">
                            <td class="text-sm">{{ order.products[0].name }}</td>
                            <td class="text-sm">{{ order.user.address }}</td>
                            <td class="text-sm">{{ order.date }}</td>
                            <td class="text-sm">${{ order.products[0].normal_price }}</td>
                            <td class="text-sm">{{ order.status}}</td>
                        </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>

                    <tbody id="unapproved-orders" class="orders w-full flex-ac dir-col">
                    {% if pending_orders %}
                        {% for order in pending_orders %}
                        <tr class="order w-full">
                            <td class="text-sm">{{ order.products[0].name }}</td>
                            <td class="text-sm">{{ order.user.address }}</td>
                            <td class="text-sm">{{ order.date }}</td>
                            <td class="text-sm">${{ order.products[0].normal_price }}</td>
                            <td class="text-sm">{{ order.status }}</td>
                                                    
                            <!-- Form to redirect to page for processing the order -->
                            <td class="">
                                <form action="./process-order/{{ order.id }}" method="post">
                                    <input type="hidden" name="action" value="process">
                                    <button type="submit">Process Order</button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>

                    <tbody id="approved-orders" class="orders w-full flex-ac dir-col">
                    {% if approved_orders %}
                        {% for order in approved_orders %}
                        <tr class="order w-full">
                            <td class="text-sm">{{ order.products[0].name }}</td>
                            <td class="text-sm">{{ order.user.address }}</td>
                            <td class="text-sm">{{ order.date }}</td>
                            <td class="text-sm">${{ order.products[0].normal_price }}</td>
                            <td class="text-sm">{{ order.status }}</td>
                        </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
                    
        </section>
    </section>
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/admin/orders.js') }}"></script>
{% endblock %}