#customers {
    min-height: 45rem;
    gap: 2rem;
    padding: 0 1rem;
}

/* FOR SEARCH FORM */
#customers .search-form {
    padding: .5rem 0;
}

#customers .search-form .search-input {
    width: max-content;
    min-width: 18rem;
    padding: 0 .5rem;
    height: 2.25rem;
    border-radius: .25rem;
    border: 2px solid var(--primary-clr);
}

#customers .search-form .search-input:focus {
    border: none;
    box-shadow: 0 0 2px 3px rgba(185, 17, 96, .25);
}

#customers .search-form .search-cta {
    border-radius: .25rem;
    height: 2.25rem;
    width: 2.25rem;
    padding: 0;
}

#customers .search-form .search-cta .icon {
    font-size: 1rem;
}

/* MAIN SECTION */
#customers .main {
    
}

/* TITLE */
#customers .main .title-section {
    gap: 1rem;
}

#customers .main .title-section .text {
    color: #7c7c7c;
}

/* FOR customers CONTENT */
#customers .main .customer-contents {
    padding: 0 1rem;
    height: 3rem;
    gap: 1rem;
}

#customers .main .customer-contents .customer-links {
    gap: 1rem;
}

#customers .main .customer-contents .customer-links .link {
    padding: .25rem .5rem;
    border-radius: 0;
    color: #505050;
}

#customers .main .customer-contents .customer-links .link:hover {
    color: #000;
}

#customers .main .customer-contents .customer-links .link.active {
    color: var(--cta-clr);
    border-bottom: 2px solid var(--cta-clr);
    padding-bottom: 3px;
}

/* customers TABLE */
#customers .main .customer-contents .customers-table {
    gap: .5rem;
}

/* TABLE HEAD */
#customers .main .customer-contents .customers-table .customers-header-items {
    background: var(--cta-clr);
}

#customers .main .customer-contents .customers-table .customers-header-items * {
    color: white;
}

/* TABLE VALUES */
#customers .main .customer-contents .customers-table tr {
    display: grid;
    grid-template-columns: 2fr 4fr 3fr 2fr .6fr;
    padding: .5rem;
    border-radius: .25rem;
    background: var(--main-clr);
}

#customers .main .customer-contents .customers-table th,
#customers .main .customer-contents .customers-table td {
    text-align: left;
}

/* ORDER SECTION */
#customers .main .customer-contents .customers-table .customers {
    gap: .25rem;
}

#customers .main .customer-contents .customers-table .customer {
    box-shadow: 0 0 3px 1px rgba(185, 16, 97, 0.25);
}

#customers .main .customer-contents .customers-table .customer:hover {
    cursor: pointer;
    box-shadow: 0 0 3px 1px rgba(185, 16, 97, 0.5);
}