body {
    width: 100vw;
    min-height: 100vh;
    height: 100%;
    display: grid;
    grid-template-columns: max-content 1fr;
}

/* NAVBAR SECTION */
#admin-navbar {
    position: relative;
    z-index: 100;
    min-height: 100vh;
    height: 100%;
}

/* MENU-BAR */
#admin-navbar .menu-bar {
    position: relative;
    margin: .5rem;
}

#admin-navbar .menu-bar .icon {
    border-radius: .25rem;
    padding: .45rem .65rem;
}

#admin-navbar .menu-bar .icon.close {
    display: none;
}

#admin-navbar .menu-bar:hover .icon {
    background: var(--link-bg-hover);
    transition: .1s ease-in-out !important;
}

/*------------- WIDTH RESPONSIVENESS -------------*/
.screen-sm {
    display: none;
}

.screen-md {
    display: flex;
}

#admin-navbar .nav-contents {
    background: var(--surface-clr);
    gap: 2rem;
    padding: 2rem 1rem;
}

/* NAV LINKS */
#admin-navbar .nav-contents .nav-items {
    gap: 1rem;
}

#admin-navbar .nav-contents .nav-items .link:hover {
    background: var(--link-bg-hover);
    border-radius: .5rem;
}

#admin-navbar .nav-contents .nav-items .link.active {
    box-shadow: 0 0 2px 3px rgba(185, 16, 97, .25);
    color: var(--text-clr);
}

/* FOR BACKGROUND OVERLAY */
#signing-background-overlay {
    display: none;
    position: absolute;
    z-index: 30;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.2);
    border-top: 1px solid #d1d1d1;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(5px);
}

#signing-background-overlay.show-signing-background-overlay {
    display: block !important;
}

@media (max-width: 680px) {
    .screen-sm {
        display: flex;
    }

    .screen-md {
        display: none;
    }

    #admin-navbar .nav-contents {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 90;
        animation: animateNavContents .25s ease-in-out;
    }

    #admin-navbar .nav-contents.close {
        display: none;
        position: absolute;
    }

}


@keyframes animateNavContents {
    from {
        transform: translateX(-1rem) translateY(-1rem);
        opacity: 0;
    }
    to {
        transfrom: translateX(0) translateY(0);
        opacity: 1;
    }
    
}