#orders {
    min-height: 45rem;
    gap: 2rem;
    padding: 0 1rem;
}

/* MAIN SECTION */
#orders .main {
    
}

/* TITLE */
#orders .main .title-section {
    gap: 1rem;
}

#orders .main .title-section .text {
    color: #7c7c7c;
}

/* FOR ORDERS CONTENT */
#orders .main .order-contents {
    padding: 0 1rem;
    height: 3rem;
    gap: 1rem;
}

#orders .main .order-contents .order-links {
    gap: 1rem;
}

#orders .main .order-contents .order-links .link {
    padding: .25rem .5rem;
    border-radius: 0;
    color: #505050;
}

#orders .main .order-contents .order-links .link:hover {
    color: #000;
}

#orders .main .order-contents .order-links .link.active {
    color: var(--cta-clr);
    border-bottom: 2px solid var(--cta-clr);
    padding-bottom: 3px;
}

/* ORDERS TABLE */
#orders .main .order-contents .orders-table {
    gap: .5rem;
}

/* TABLE HEAD */
#orders .main .order-contents .orders-table .orders-header-items {
    background: var(--cta-clr);
}

#orders .main .order-contents .orders-table .orders-header-items * {
    color: white;
}

/* TABLE BODY DISPLAY */
#all-orders {
    display: flex;
}

#approved-orders {
    display: none;
}

#unapproved-orders {
    display: none;
}


/* TABLE VALUES */
#orders .main .order-contents .orders-table tr {
    display: grid;
    grid-template-columns: 2fr 3fr 2fr 1fr 1fr;
    padding: .5rem;
    border-radius: .25rem;
    background: var(--main-clr);
}

#orders .main .order-contents .orders-table th,
#orders .main .order-contents .orders-table td {
    text-align: left;
}

/* ORDER SECTION */
#orders .main .order-contents .orders-table .orders {
    gap: .25rem;
}

#orders .main .order-contents .orders-table .order {
    box-shadow: 0 0 3px 1px rgba(185, 16, 97, 0.25);
}

#orders .main .order-contents .orders-table .order:hover {
    cursor: pointer;
    box-shadow: 0 0 3px 1px rgba(185, 16, 97, .5);
    transition: .1s ease-in-out;
}

/* CTA SECTION */
#orders .main .order-contents .func .cta-div .cta {
    padding: .25rem .5rem;
    gap: .25rem;
    transition: .2s ease-in-out;
  }
  
  #orders .main .order-contents .func .cta-div .cta:hover {
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.25);
  }
  
  #orders .main .order-contents .func .cta-div .cta * {
    color: white;
  }
  
  #orders .main .order-contents .func .cta-div .cta.one {
    background: var(--primary-clr);
  }
  
  #orders .main .order-contents .func .cta-div .cta.two {
    background: var(--green);
  }