#validate-order {
  padding: .5rem .25rem;
  gap: .5rem;
}

/* ORDERS TABLE */
#validate-order .orders-table {
  position: relative;
  gap: .5rem;
  padding: 0 .5rem;
  margin-bottom: 2rem;
}

/* TABLE HEAD */
#validate-order .orders-table .orders-header {
  position: sticky;
  top: 0;
  padding: .25rem;
}

#validate-order .orders-table .orders-header-items {
  background: var(--cta-clr);
}

#validate-order .orders-table .orders-header-items * {
  color: white;
}

/* TABLE VALUES */
#validate-order .orders-table tr {
  display: grid;
  grid-template-columns: 2fr 3fr 2fr 1fr 1fr;
  padding: .5rem;
  border-radius: .25rem;
  background: var(--main-clr);
}

#validate-order .orders-table th,
#validate-order .orders-table td {
  text-align: left;
}

/* ORDER SECTION */
#validate-order .orders-table .orders {
  gap: .25rem;
  padding: .25rem;
  max-height: 55vh;
  border-radius: .25rem;
  border-bottom: 1px solid rgba(185, 16, 97, .25);
  overflow: scroll;
}

#validate-order .orders-table .orders .order {
  box-shadow: 0 0 3px 1px rgba(185, 16, 97, 0.25);
}

#validate-order .orders-table .orders .order:hover {
  cursor: pointer;
  box-shadow: 0 0 3px 1px rgba(185, 16, 97, .5);
  transition: .1s ease-in-out;
}

/* TOTAL CTA FUNCTIONS SECTION */
#validate-order .func {
  background: var(--cta-clr);
  padding: .5rem;
  gap: .5rem;
}


#validate-order .func .price-info > div {
  gap: .25rem;
  background: rgba(255, 255, 255, 0.15);
  padding: .25rem;
}

#validate-order .func .price-info * {
  color: white;
}

/* CTA SECTION */
#validate-order .func .cta-div .cta {
  padding: .25rem .5rem;
  gap: .25rem;
  background: var(--primary-clr);
}

#validate-order .func .cta-div .cta * {
  color: var(--cta-clr);
}

#validate-order .func .cta-div .cta.one:hover,
#validate-order .func .cta-div .cta.one:hover * {
  background: var(--red);
  color: white;
  transition: .2s ease-in-out;
}

#validate-order .func .cta-div .cta.two:hover, 
#validate-order .func .cta-div .cta.two:hover * {
  background: var(--green);
  color: white;
  transition: .2s ease-in-out;
}