{% extends 'main.html' %}
{% block stylesheet %}{{ url_for('static', filename='css/allergy.css') }}{% endblock %}
{% set show_navbar = True %}

{% block content %}

<section id="allergy" class="w-full flex-c-c dir-col">
  <h1 class="title header-lg">Allergies</h1>
  <div class="allergies w-full flex-c-c dir-col">
    {% if products %}
    {% for product in products %}
    <div class="product w-full flex-ts" data-allergens="proteins">
      <h3 class="title">{{ product.name }}</h3>
      <p class="info text-sm">Properties: {{ product.allergic_desc}}
      </p>
      <button onclick="removeProduct( {{product.id }} )" class="text-sm button">Remove</button>
    </div>
    {% endfor %}
    {% else %}
    <div class="product w-full flex-ts" data-allergens="proteins">
      <h3 class="title">No Product in allergy list</h3>
      <p class="info text-sm w-600">
        <b>Properties:</b> Allergy description.
      </p>
      <p class="text-sm"><b>Allergens:</b> Allergy data.</p>
    </div>
    {% endif%}
  </div>  
</section>

{% endblock %}

{% block js %}
<script>
  function removeProduct(product_id) {
    fetch('/allergy', {
      method: 'POST',
      body: JSON.stringify({ product_id }),
      headers: {
        'Content-Type': 'application/json'
      }
    })
    .then(response => {
      // Handle the response
      console.log(response.data)
    })
    .catch(error => {
      // Handle any errors
      console.log(error)
    });
  }
</script>
{% endblock %}