{% extends "main.html" %}
{% block stylesheet %}{{ url_for('static', filename='css/auth.css') }}{% endblock %}
{% block title %}Authentication{% endblock %}
{% set show_navbar = False %}

{% block content %}

<div id="authentication" class="authentication w-full flex-c-s dir-col">
    {# {% with messages = get_flashed_messages(with_categories=true) %} 
    {% if messages %} 
    {% for category, message in messages %} 
        {% if category == 'error' %}
        <div class="alert error w-full flex-tc">
        <p class='message text-sm w-600'>{{ message }}</p>
        <button type="button" class="close button" data-dismiss="alert">
            <i aria-hidden="true" class="fa fa-close icon"></i>
        </button>
        </div>
        {% else %}
        <div class="alert success w-full flex-tc">
        <p class='message text-sm w-600'>{{ message }}</p>
        <button type="button" class="close button" data-dismiss="alert">
            <i aria-hidden="true" class="fa fa-close icon"></i>
        </button>
        </div>
        {% endif %} 
    {% endfor %} 
    {% endif %} 
    {% endwith %} #}

    <div class='auth-navbar w-full flex-c-sb'>
        <div class="logo flex-c-c">
            <h3 class="logo-title">
                <a href="index.html" class='header-lg'>Edenfresh</a>
            </h3>
            {% include 'assets/logo.html' %}
        </div>
        <div class="menu-list flex-c-sb">
            <div class="items-2 flex-ac screen-md">
                <a href="{{ url_for('views.home') }}" class="link text-md w-600 button-md">Home</a>
                <a href="{{ url_for('views.aboutus') }}" class="link text-md w-600 button-md">About Us</a>
                <button class="signin-button link text-md w-600 button-md">Login</button>
                <button class="signup-button link text-md w-600 button-md">SignUp</button>
            </div>
            <div class="screen-sm"></div>
            <button id="menu-bar-btn" class="menu-bar screen-sm">
                <i id="bars-icon" class="icon fa fa-bars text-lg"></i>
                <i id="close-icon" class="icon close fa fa-times text-lg"></i>
            </button>
        </div>
    </div>

    <div id="menu-list" class="menu-list-2 close flex dir-col screen-sm">
        <div class="buttons flex dir-col">
            <a href="{{ url_for('auth.forgetpassword') }}" class="link text-md w-600 button-md">Home</a>
            <a href="{{ url_for('auth.forgetpassword') }}" class="link text-md w-600 button-md">About Us</a>
            <button class="signin-button link text-md w-600 button-md">Login</button>
            <button class="signup-button link text-md w-600 button-md">SignUp</button>
        </div>
    </div> 
    
    <!-- BACKGROUND OVERLAY ON FOCUS OF SIGNIN AND SIGNUP FORM -->
    <div id="signing-background-overlay"></div>

    <div id="signin" class="form un-signin">
        <!-- LOGIN FORM -->
        <form method="POST" action="/signin" class='signin-form w-full flex-c-c dir-col' >
            <h3 class="title text-lg w-600">Login account</h3>

            <!-- LOGIN INPUTS SECTION -->
            <div class="input">
                <i class="icon fa fa-send-o"></i>
                <input name="email" class="email" type="email" placeholder="(Email)" required/>
            </div>
            <div class="input">
                <i class="icon fa fa-lock"></i>
                <input name="password" class="name" type="password" placeholder="(Password)" required/>
            </div>

            <!-- KEEP USER LOGGED IN SECTION-->
            <div class="input">
                <input name="login-remember" class="checkbox" type="checkbox" />
                <small class="check-info">Keep me logged in for a week.</small>
            </div>

            <!-- SUBMIT BUTTON ( TO LOG IN ) -->
            <button type="submit" id="signin-submit" class="submit text-sm w-600" name="signin">Sign In</button>
        </form>

        <!-- FORGET PASSWORD SECTION -->
        <form method='POST' action='/forgetpassword' class='forget-password-container w-full flex-c-c dir-col'>
            <small class="check-info w-600">Forget password?</small>
            <div id="forget_password_form" class="input">
                <input id="forget_password_email" name="forget_password_email" class="email w-full" type="email" placeholder="(Enter valid email)" />
                <button type='submit' class="submit-forgetpassword text-sm w-600" name="forget_password_form">Request</button>
            </div>
        </form>
    </div>

    <!-- SIGN UP FORM -->
    <form method="POST" action="/signup" id="signup" class="form">
        <h3 class="title text-lg w-600">Fill form to sign up</h3>

        <!-- SIGNUP INPUTS SECTION -->
        <div class="input">
            <i class="icon fa fa-user"></i>
            <input name="name" class="name" type="text" placeholder="(Firstname) (Surname)" required/>
        </div>
        <div class="input">
            <i class="icon fa fa-user"></i>
            <input name="username" class="name" type="text" placeholder="(Username)" required/>
        </div>
        <div class="input">
            <i class="icon fa fa-send-o"></i>
            <input name="email" class="email" type="email" placeholder="(Email)" required/>
        </div>
        <div class="input w-full flex-c-c dir-col">
            <div class="w-min flex">
                <i class="icon fa fa-venus-mars"></i>
                <p class="text-sm w-600">Gender</p>
            </div>
           
            <div class="gender-options w-full flex-c-se">
                <input type="radio" name="gender" id="gender-male" value="male" required>
                <label for="gender-male text-sm w-600">Male</label>
                <input type="radio" name="gender" id="gender-female" value="female" required>
                <label for="gender-female text-sm w-600">Female</label>
            </div>
        </div>
        <div class="input">
            <i class="icon fa fa-lock"></i>
            <input name="password" id="signup-password" class="name" type="password" placeholder="(Password)" required/>
        </div>

        <!-- TERMS AND CONDITION SECTION -->
        <div class="input">
            <input name="terms-checkbox" class="checkbox" type="checkbox" required/>
            <small class="check-info">I agree to the<a href="#" class="link">terms and condition</a></small>
        </div>

        <!-- SUBMIT BUTTON ( SIGNUP USER ) -->
        <button type="submit" id="signup-submit" class="submit text-sm w-600" name="signup">Sign Up</button>
    </form>
</div>

{% endblock %}

<!-- LINK TO JS FILE -->
{% block js %}
    <script src="{{ url_for('static', filename='js/auth.js') }}"></script>
{% endblock %}