<footer id="footer" class="w-full flex-c-c dir-col">
    <div class="foots w-full flex-s-se">
        <div class="foot link-a w-full w-max flex-sb dir-col">
            <div class="logo flex-s-c">
                <h3 class="logo-title">
                    <a href="index.html" class='title header-lg'>Karpos</a>
                </h3>
                {% include 'assets/logo.html' %}
            </div>
            <p class="w-full w-600 flex-tc">Lorem ipsum dolor sit amet, adipiscing elit. Eu, montes, metus porttitor consectetur pretium. Euismod imperdiet</p>
        </div>
        <div class="foot link-b w-full w-max flex-sb dir-col">
            <p class="title header-sm w-600">Contact Information</p>
            <div class="foot-content flex dir-col">
                <p class="w-600">&#8226; 122, Albert St, Port Melbourne, Vic 3207.</p>
                <p class="w-600">&#8226; Karpos@gmail.com</p>
            </div>
        </div>
        <div class="foot link-c w-full w-max flex-sb dir-col">
            <p class="title header-sm w-600">Quick Links</p>
            <div class="foot-content flex dir-col">
                <a href="{{ url_for('views.allergy') }}" class="link w-600">Allergies</a>
                <a href="{{ url_for('views.account') }}" class="link w-600">Account</a>
                <a href="{{ url_for('auth.logout') }}" class="link w-600">Logout</a>
            </div>
        </div>
        <div class="foot link-d w-full w-max flex-sb dir-col">
            <p class="title header-sm w-600">Legal</p>
            <div class="foot-content flex dir-col">
                <a href="" class="link w-600">Privacy Policy</a>
                <a href="" class="link w-600">Terms of Use</a>
                <a href="{{ url_for('views.aboutus') }}" class="link w-600">About Us</a>
            </div>
        </div>
    </div>
    <div class="foot icons-content flex-c-c dir-col">
        <p class="title header-sm w-600">Follow Us</p>
        <div class='social-media-icons flex-c-se'>
            <a href='#' class="link">
                <i class="icon fa fa-facebook flex-c-c"></i>
            </a>
            <a href='#' class="link">
                <i class="icon fa fa-instagram flex-c-c"></i>
            </a>
            <a href='#' class="link">
                <i class="icon fa fa-twitter flex-c-c"></i>
            </a>
            <a href='#' class="link">
                <i class="icon fa fa-whatsapp flex-c-c"></i>
            </a>
        </div>
    </div>
    <p class="copyright text-sm w-600">Copyright &copy; 2023 Karpos</p>
</footer>

{% block js %}
{% endblock %}