<header id="navbar">
    {# Hides these buttons if user is not Logged in and Shows these buttons in signin or signup page #}
    {% if (user and not user.is_authenticated) or endpoint in ['signin', 'signup'] %}
    <div class='logout w-full flex-c-sb'>
        <p class='text w-full text-sm w-600'>Shop for groceries now.</p>
        <div class='links flex-c-se'>
            <a href="{{ url_for('auth.signin') }}" class="signin-button link br-md text-md w-600 button button-sm">Login</a>
            <a href="{{ url_for('auth.signup') }}" class="signin-button link br-md text-md w-600 button button-sm">SignUp</a>
        </div>
    </div>
    {% endif %}
    
    {# Nav Contents #}
    <nav class='auth-navbar w-full flex-c-sb'>
        <div class="logo flex-c-c">
            <h3 class="logo-title">Karpos</h3>
            {% include 'assets/logo.html' %}
        </div>
        <form method='POST' action="/search" id="search-bar" class='search-form search-form-sm w-full flex-c-c'>
            <input name="search-data" class="input" type="text" value="{{ search_return }}" placeholder="Search..." required/>
            <button type="submit" class="search-cta">
                <i class="icon fa fa-search"></i>
            </button>
        </form>
        <div class="menu-list flex-c-sb">
            <button id="toggle-search-bar" class="toggle-search-bar flex-c-c">
                <i class="icon fa fa-search"></i>
            </button>
            <form method='POST' action="/search" class='search-form flex-c-c'>
                <input name="search-data" class="input" type="text" value="{{ search_return }}" placeholder="Search..." required/>
                <button type="submit" class="search-cta">
                    <i class="icon fa fa-search"></i>
                </button>
            </form>
            
            <div class="items-2 flex-ac screen-md">
                <a href="{{ url_for('views.home') }}" {% if endpoint == 'home' %} class="link active text-md w-600 button-md" {% else %} class="link text-md w-600 button-md" {% endif %}>Home</a>
                <a href="{{ url_for('views.menu') }}" {% if endpoint == 'menu' %} class="link active text-md w-600 button-md" {% else %} class="link text-md w-600 button-md" {% endif %}>Menu</a>

                {# Hides these buttons if user is not Logged in #}
                {% if user and user.is_authenticated %}
                {# For customer only #}
                {% if user.role == 'customer' %}
                <a href="{{ url_for('views.cart') }}" {% if endpoint == 'cart' %} class="link active text-md w-600 button-md" {% else %} class="link text-md w-600 button-md" {% endif %}>Cart</a>
                <a href="{{ url_for('views.account') }}" {% if endpoint == 'account' %} class="link active text-md w-600 button-md" {% else %} class="link text-md w-600 button-md" {% endif %}>Account</a>
                {% endif %}

                {# For admin only #}
                {% if user.role == 'admin' %}
                <a href="{{ url_for('admin_panel.dashboard') }}" {% if endpoint == 'dashboard' %} class="link active text-md w-600 button-md" {% else %} class="link text-md w-600 button-md" {% endif %}>Admin</a>
                {% endif %}

                {% endif %}

                {# Hides these buttons if user is not Logged in #}
                {% if user and user.is_authenticated %}
                <a href="{{ url_for('auth.logout') }}" class="link text-md w-600 button-md">
                    <i class="fa fa-sign-out"></i>
                </a>
                {% endif %}
            </div>
            <div class="screen-sm"></div>
            <button id="menu-bar-btn" class="menu-bar screen-sm">
                <i id="bars-icon" class="icon fa fa-bars text-lg"></i>
                <i id="close-icon" class="icon close fa fa-times text-lg"></i>
            </button>
        </div>
    </nav>

    <nav id="menu-list" class="menu-list-2 close flex dir-col screen-sm">
        <div class="items flex dir-col">
            <a href="{{ url_for('views.home') }}" {% if endpoint == 'home' %} class="link active text-md w-600 button-md" {% else %} class="link text-md w-600 button-md" {% endif %}>Home</a>
            <a href="{{ url_for('views.menu') }}" {% if endpoint == 'menu' %} class="link active text-md w-600 button-md" {% else %} class="link text-md w-600 button-md" {% endif %}>Menu</a>

            {# Hides these buttons if user is not Logged in #}
            {% if user and user.is_authenticated %}
            {# For customer only #}
            {% if user.role == 'customer' %}
            <a href="{{ url_for('views.cart') }}" {% if endpoint == 'cart' %} class="link active text-md w-600 button-md" {% else %} class="link text-md w-600 button-md" {% endif %}>Cart</a>
            <a href="{{ url_for('views.account') }}" {% if endpoint == 'account' %} class="link active text-md w-600 button-md" {% else %} class="link text-md w-600 button-md" {% endif %}>Account</a>
            {% endif %}

            {# For admin only #}
            {% if user.role == 'admin' %}
            <a href="{{ url_for('admin_panel.dashboard') }}" {% if endpoint == 'dashboard' %} class="link active text-md w-600 button-md" {% else %} class="link text-md w-600 button-md" {% endif %}>Admin</a>
            {% endif %}

            {% endif %}
            {#################### Add onclick show search bar in small screen #####################}
            {# Hides these buttons if user is not Logged in #}
            {% if user and user.is_authenticated %}
            <a href="{{ url_for('auth.logout') }}" {% if endpoint == 'logout' %} class="link active text-md w-600 button-md" {% else %} class="link text-md w-600 button-md" {% endif %}>Logout</a>
            {% endif %}
        </div>
    </nav>

    <!-- BACKGROUND OVERLAY ON FOCUS OF SIGNIN AND SIGNUP FORM -->
    <div id="signing-background-overlay"></div>
</header>

{% block js %}
<script src="{{ url_for('static', filename='js/include/navbar.js') }}"></script>
{% endblock %}